@import "compass/css3";

.tools_page_pinim {
  #header-links {
    margin-bottom: 2em;
    a {
      text-decoration: none;
    }
  }

}

#user-info{
    height:3em;
    position:relative;
    line-height:3em;
    #user-info-username{
        vertical-align: middle;
        img{
            height:100%;
            width:auto;
            float:left;
            padding-right:1em;
        }
    }
}

.pinim-form {
    &.pinim-form-loading{
        opacity:0.5;
        pointer-events: none;
        
        #submit{
            
        }
    }

    .wp-list-table {

        .column-details{
            display:none;
        }

      td.column-thumbnail {
        padding: 0;
        img {
          position: absolute;
          width: 100%;
          height: 100%;
          object-fit: cover;
          background-size: 100%;
          background-repeat: no-repeat;
          opacity: 0.6;
        }
      }

      tr{
        &:hover td.column-thumbnail img {
            opacity: 1;
        }





      }


    }
    
    .column-thumbnail {
      width: 150px;
      position: relative;
      overflow: hidden;
      img {
        object-fit: cover;
        max-width: 100%;
      }
    }
    
    &#pinim-form-boards{
        
        .column-pin_count_imported{
            text-align:center;
        }

        .column-private {
          width: 4em;
        }

        .column-pin_count_remote {
          width: 8em;
        }

        tbody tr{
            &.is-new-board{
                background-color:#FAFFE9;
            }
        }
        
        &.boards-view-simple{
            
            width:65%;
            margin:auto;
            
            .column-category,.column-private,.column-board_id{
                display:none;
            }
        }


    }
    
}

.pinim-pc-bar{
    position: relative;
    display:block;
    background-color:rgba(#CCC, 0.4);
    clear:both;
    width:100%;
    height:1.3em;
    line-height:1.3em;
    .pinim-pc-bar-fill{
        display:block;
        background-color:orange;
        height:100%;
        text-align:left;
        @include transition(all 0.5s ease-out);
        
        .pinim-pc-bar-text{
            position:absolute;
            font-size: 0.8em;
            padding-left:1em;
        }
        
        &.complete{
            background-color:#FFE000;
            .pinim-pc-bar-text{
                display:none;
            }
        }
        
    }
    
}