@import "compass/css3";

.tools_page_pinim {
    
    #header-links {
      margin-bottom: 2em;
      font-size:1.1em;
      text-align:center;
      a {
        text-decoration: none;
      }
    }
    
    #user-info{
        height:3em;
        line-height:3em;
        position:relative;
        text-align:right;

        img{
            //TO FIX weird behaviour, should be max-height;100% but is not working !
            //max-height:100%;
            max-height:2em;
            width:auto;
            padding-right:0.5em;
            vertical-align:middle;
        }

        span{
            display:inline-block;
        }
    }

    .wrap .nav-tab-wrapper{
        margin-bottom:1em;
    }

    .pinim_tab_content{
        
        .tab-description{
            margin:2em;
            p{
                font-size:1.1em;
            }
        }
        
        .view_filter{
            float:right;
        }

        .wp-list-table {

            .column-thumbnail {
              width: 150px;
              position: relative;
              overflow: hidden;
              text-align:left;
              img {
                object-fit: cover;
                max-width: 100%;
              }
            }

          td.column-thumbnail {
            padding: 0;
            img {
              position: absolute;
              width: 100%;
              height: 100%;
              object-fit: cover;
              background-size: 100%;
              background-repeat: no-repeat;
              opacity: 0.6;
            }
          }

          tr{
            &:hover td.column-thumbnail img {
                opacity: 1;
            }

            .item-id{
                color:silver;
            }



          }


        }

        .pinim-pc-bar{
            position: relative;
            display:block;
            background-color:rgba(#CCC, 0.4);
            clear:both;
            width:100%;
            height:1.3em;
            line-height:1.3em;

            .pinim-pc-bar-fill{
                display:block;
                height:100%;
                text-align:left;
                @include transition(all 0.5s ease-out);
                position:relative;
                .pinim-pc-bar-fill-color{
                    width:100%;
                    height:100%;
                    position: absolute;
                    &.pinim-pc-bar-fill-yellow{
                        background-color:#FFE000;
                    }
                    &.pinim-pc-bar-fill-red{
                        background-color:red;
                    }
                }

                .pinim-pc-bar-text{
                    margin:auto;
                    display:block;
                    text-align:center;
                    i.fa{
                        padding:0 0.5em;
                    }
                }

            }
            
            &.color-light .pinim-pc-bar-text{
                color:white;
            }
            
            &.offline,&.empty{
                .pinim-pc-bar-fill{
                    width:100%!important;
                }
                
                .pinim-pc-bar-fill-color{
                    display:none;
                }
                .pinim-pc-bar-text{
                    color:inherit;
                    font-size:0.8em;
                }
            }

            &.complete{

            }
            &.incomplete{
                .pinim-pc-bar-text{
                    text-align:right;
                }
            }

        }

        .pinim-form {
            &.pinim-form-loading{
                opacity:0.5;
                pointer-events: none;

                #submit{

                }
            }

            &#pinim-form-login{

                #pinim_login_box{

                    max-width:250px;
                    margin:auto;
                    padding: 1em;
                    margin: 2em auto;
                    text-align:center;

                    #pinim_login_icon{
                        margin-bottom:2em;
                        i{
                            font-size:5em;
                        }
                    }

                    input[type=text],input[type=password] {
                        font-size: 24px;
                        width: 100%;
                        padding: 3px;
                        margin: 2px 6px 16px 0;
                        background: #fbfbfb;
                    }

                }

                    p.submit{
                        text-align:center;
                    }



            }
            
            &.pinim-form-boards{

                p.submit{
                    text-align:center;
                }

                #follow-new-board{

                    #follow-new-board-new{
                        input[type=text]{
                            width:100%;
                        }
                    }

                }
                
                .wp-list-table {

                    [data-colname]{
                        text-align:center;
                    }

                    .column-pin_count_imported{
                        text-align:center;
                    }

                    .column-private {
                      width: 4em;
                    }

                    .column-pin_count_remote {
                      width: 8em;
                    }

                    tbody tr{
                        &.is-checked{
                            background-color:#FAFFE9;
                        }
                    }

                }



                &.view-filter-simple{

                    width:65%;
                    margin:auto;
                    
                    .item-id{
                        display:none;
                    }

                    .column-category,.column-private,.column-board_id{
                        display:none;
                    }
                }


            }
            
            &#pinim-form-followed-boards{
                #follow-new-board{
                    textarea{
                        width:100%;
                    }
                }

            }
            
            &#pinim-form-pins{
                .wp-list-table {
                    tbody tr{
                    }
                }
            }

        }

    }

}

