/* line 5, ../scss/pinim.scss */
.tools_page_pinim #header-links {
  margin-bottom: 2em;
  font-size: 1.1em;
  text-align: center;
}
/* line 9, ../scss/pinim.scss */
.tools_page_pinim #header-links a {
  text-decoration: none;
}
/* line 14, ../scss/pinim.scss */
.tools_page_pinim #user-info {
  height: 3em;
  line-height: 3em;
  position: relative;
  text-align: right;
}
/* line 20, ../scss/pinim.scss */
.tools_page_pinim #user-info img {
  max-height: 2em;
  width: auto;
  padding-right: 0.5em;
  vertical-align: middle;
}
/* line 29, ../scss/pinim.scss */
.tools_page_pinim #user-info span {
  display: inline-block;
}
/* line 34, ../scss/pinim.scss */
.tools_page_pinim .wrap .nav-tab-wrapper {
  margin-bottom: 1em;
}
/* line 40, ../scss/pinim.scss */
.tools_page_pinim .pinim_tab_content .tab-description {
  margin: 2em;
}
/* line 42, ../scss/pinim.scss */
.tools_page_pinim .pinim_tab_content .tab-description p {
  font-size: 1.1em;
}
/* line 47, ../scss/pinim.scss */
.tools_page_pinim .pinim_tab_content .view_filter {
  float: right;
}
/* line 53, ../scss/pinim.scss */
.tools_page_pinim .pinim_tab_content .wp-list-table .column-thumbnail {
  width: 150px;
  position: relative;
  overflow: hidden;
  text-align: left;
}
/* line 58, ../scss/pinim.scss */
.tools_page_pinim .pinim_tab_content .wp-list-table .column-thumbnail img {
  object-fit: cover;
  max-width: 100%;
}
/* line 64, ../scss/pinim.scss */
.tools_page_pinim .pinim_tab_content .wp-list-table td.column-thumbnail {
  padding: 0;
}
/* line 66, ../scss/pinim.scss */
.tools_page_pinim .pinim_tab_content .wp-list-table td.column-thumbnail img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: 100%;
  background-repeat: no-repeat;
  opacity: 0.6;
}
/* line 78, ../scss/pinim.scss */
.tools_page_pinim .pinim_tab_content .wp-list-table tr:hover td.column-thumbnail img {
  opacity: 1;
}
/* line 82, ../scss/pinim.scss */
.tools_page_pinim .pinim_tab_content .wp-list-table tr .item-id {
  color: silver;
}
/* line 93, ../scss/pinim.scss */
.tools_page_pinim .pinim_tab_content .pinim-pc-bar {
  position: relative;
  display: block;
  background-color: rgba(204, 204, 204, 0.4);
  clear: both;
  width: 100%;
  height: 1.3em;
  line-height: 1.3em;
}
/* line 102, ../scss/pinim.scss */
.tools_page_pinim .pinim_tab_content .pinim-pc-bar .pinim-pc-bar-fill {
  display: block;
  height: 100%;
  text-align: left;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  position: relative;
}
/* line 108, ../scss/pinim.scss */
.tools_page_pinim .pinim_tab_content .pinim-pc-bar .pinim-pc-bar-fill .pinim-pc-bar-fill-color {
  width: 100%;
  height: 100%;
  position: absolute;
}
/* line 112, ../scss/pinim.scss */
.tools_page_pinim .pinim_tab_content .pinim-pc-bar .pinim-pc-bar-fill .pinim-pc-bar-fill-color.pinim-pc-bar-fill-yellow {
  background-color: #FFE000;
}
/* line 115, ../scss/pinim.scss */
.tools_page_pinim .pinim_tab_content .pinim-pc-bar .pinim-pc-bar-fill .pinim-pc-bar-fill-color.pinim-pc-bar-fill-red {
  background-color: red;
}
/* line 120, ../scss/pinim.scss */
.tools_page_pinim .pinim_tab_content .pinim-pc-bar .pinim-pc-bar-fill .pinim-pc-bar-text {
  margin: auto;
  display: block;
  text-align: center;
}
/* line 124, ../scss/pinim.scss */
.tools_page_pinim .pinim_tab_content .pinim-pc-bar .pinim-pc-bar-fill .pinim-pc-bar-text i.fa {
  padding: 0 0.5em;
}
/* line 131, ../scss/pinim.scss */
.tools_page_pinim .pinim_tab_content .pinim-pc-bar.color-light .pinim-pc-bar-text {
  color: white;
}
/* line 136, ../scss/pinim.scss */
.tools_page_pinim .pinim_tab_content .pinim-pc-bar.offline .pinim-pc-bar-fill, .tools_page_pinim .pinim_tab_content .pinim-pc-bar.empty .pinim-pc-bar-fill {
  width: 100% !important;
}
/* line 140, ../scss/pinim.scss */
.tools_page_pinim .pinim_tab_content .pinim-pc-bar.offline .pinim-pc-bar-fill-color, .tools_page_pinim .pinim_tab_content .pinim-pc-bar.empty .pinim-pc-bar-fill-color {
  display: none;
}
/* line 143, ../scss/pinim.scss */
.tools_page_pinim .pinim_tab_content .pinim-pc-bar.offline .pinim-pc-bar-text, .tools_page_pinim .pinim_tab_content .pinim-pc-bar.empty .pinim-pc-bar-text {
  color: inherit;
  font-size: 0.8em;
}
/* line 153, ../scss/pinim.scss */
.tools_page_pinim .pinim_tab_content .pinim-pc-bar.incomplete .pinim-pc-bar-text {
  text-align: right;
}
/* line 161, ../scss/pinim.scss */
.tools_page_pinim .pinim_tab_content .pinim-form.pinim-form-loading {
  opacity: 0.5;
  pointer-events: none;
}
/* line 172, ../scss/pinim.scss */
.tools_page_pinim .pinim_tab_content .pinim-form#pinim-form-login #pinim_login_box {
  max-width: 250px;
  margin: auto;
  padding: 1em;
  margin: 2em auto;
  text-align: center;
}
/* line 180, ../scss/pinim.scss */
.tools_page_pinim .pinim_tab_content .pinim-form#pinim-form-login #pinim_login_box #pinim_login_icon {
  margin-bottom: 2em;
}
/* line 182, ../scss/pinim.scss */
.tools_page_pinim .pinim_tab_content .pinim-form#pinim-form-login #pinim_login_box #pinim_login_icon i {
  font-size: 5em;
}
/* line 187, ../scss/pinim.scss */
.tools_page_pinim .pinim_tab_content .pinim-form#pinim-form-login #pinim_login_box input[type=text], .tools_page_pinim .pinim_tab_content .pinim-form#pinim-form-login #pinim_login_box input[type=password] {
  font-size: 24px;
  width: 100%;
  padding: 3px;
  margin: 2px 6px 16px 0;
  background: #fbfbfb;
}
/* line 197, ../scss/pinim.scss */
.tools_page_pinim .pinim_tab_content .pinim-form#pinim-form-login p.submit {
  text-align: center;
}
/* line 207, ../scss/pinim.scss */
.tools_page_pinim .pinim_tab_content .pinim-form#pinim-form-boards p.submit {
  text-align: center;
}
/* line 214, ../scss/pinim.scss */
.tools_page_pinim .pinim_tab_content .pinim-form#pinim-form-boards #follow-new-board #follow-new-board-new input[type=text] {
  width: 100%;
}
/* line 223, ../scss/pinim.scss */
.tools_page_pinim .pinim_tab_content .pinim-form#pinim-form-boards .wp-list-table [data-colname] {
  text-align: center;
}
/* line 227, ../scss/pinim.scss */
.tools_page_pinim .pinim_tab_content .pinim-form#pinim-form-boards .wp-list-table .column-pin_count_imported {
  text-align: center;
}
/* line 231, ../scss/pinim.scss */
.tools_page_pinim .pinim_tab_content .pinim-form#pinim-form-boards .wp-list-table .column-private {
  width: 4em;
}
/* line 235, ../scss/pinim.scss */
.tools_page_pinim .pinim_tab_content .pinim-form#pinim-form-boards .wp-list-table .column-pin_count_remote {
  width: 8em;
}
/* line 240, ../scss/pinim.scss */
.tools_page_pinim .pinim_tab_content .pinim-form#pinim-form-boards .wp-list-table tbody tr.is-checked {
  background-color: #FAFFE9;
}
/* line 249, ../scss/pinim.scss */
.tools_page_pinim .pinim_tab_content .pinim-form#pinim-form-boards.view-filter-simple {
  width: 65%;
  margin: auto;
}
/* line 254, ../scss/pinim.scss */
.tools_page_pinim .pinim_tab_content .pinim-form#pinim-form-boards.view-filter-simple .item-id {
  display: none;
}
/* line 258, ../scss/pinim.scss */
.tools_page_pinim .pinim_tab_content .pinim-form#pinim-form-boards.view-filter-simple .column-category, .tools_page_pinim .pinim_tab_content .pinim-form#pinim-form-boards.view-filter-simple .column-private, .tools_page_pinim .pinim_tab_content .pinim-form#pinim-form-boards.view-filter-simple .column-board_id {
  display: none;
}
